obj/
bin/
Bin/
*.chw
*.pidb
*.userprefs
log.txt
*.suo
_ReSharper.*
*.ReSharper.user
*.bak
*.csproj.user
*.vcxproj.user
_UpgradeReport_Files/
UpgradeLog*.XML
*.xap
ipch/
*.sdf
*.opensdf
*.ncrunchsolution
*.user
tools/FAKE/
packages/
build/
*.sublime-*
*.vshost.*
.vs
.cr
/artifacts