<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="Logs\internal-nlog.txt">
  <!--autoReload:修改后自动加载-->
  <!--throwConfigExceptions:NLog日志系统抛出异常-->
  <!--internalLogLevel:内部日志的级别-->
  <!--internalLogFile:内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- maxArchiveFiles:存档文件可以保留多少个,0表示不限制 -->
    <!-- maxArchiveDays:删除超过30天的存档文件 -->
    <!-- archiveAboveSize:每个文件超过多少则新建(字节,1024000 约等于 1MB) -->
    <!-- |${logger}可以查看是哪个类上写记录的-->
    <target xsi:type="File" name="file" fileName="Logs\${level}.txt"
            maxArchiveFiles="0" maxArchiveDays="30" archiveAboveSize="1024000"
            layout="${longdate}|${callsite}|${message} ${exception:format=ToString}${newline}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="file" />-->

    <!--跳过Microsoft.*/System.Net.Http.HttpClient.*(HttpClient请求)开头的日志记录,Info级别以下的-->
    <!--如果代码出现INFO级别或以上的,如Error这类错误还是会被记录-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.HttpClient.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->

    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>